* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: #dadada;
}

header {
  width: 100%;
}

nav {
  display: flex;
  border: 2px solid black;
  width: 95%;
  margin: 0.5em auto;
  justify-content: space-between;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: 700;
}

.nav_list {
  display: flex;
  list-style: none;
}

.nav_items {
  padding: 0 0.3em;
  border-right: 2px solid black;
}

.bookselector {
  display: flex;
}

.main_container {
  padding: 2em;
  min-width: 50%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: 0.5em;
}

.list_container {
  width: 100%;
}

.book_list {
  width: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.paragraph {
  display: flex;
  gap: 3px;
  text-align: center;
}

.allbooks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.5em;
  background-color: rgb(199, 199, 199);
}

.heading1 {
  margin-bottom: 2em;
  font-size: 2rem;
}

.allbooks p {
  font-size: 18px;
  font-weight: 700;
}

.allbooks:nth-of-type(odd) {
  background-color: #d3d3d3;
  height: 50px;
}

.allbooks:nth-of-type(even) {
  background-color: #fff;
  height: 50px;
}

.form {
  width: 60%;
  min-width: 250px;
}

input {
  padding: 0.5em 0.7em;
  width: 100%;
  margin: 0 auto;
  border: 2px solid rgb(36, 41, 36);
  font-weight: 600;
}

input::placeholder {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.remove {
  padding: 0.2em;
  font-weight: 600;
  border: 3px solid black;
  background-color: white;
  box-shadow: 2px 3px 0 black;
}

.add-btn {
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  padding: 0.2em 1em;
  float: right;
  box-shadow: 2px 3px 0 black;
}

footer {
  border: 2px solid black;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 95%;
  margin: 0.5em;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 80%;
  margin-top: 1em;
}

.contact-title {
  font-size: 2rem;
  text-align: center;
  margin: 1.5em auto;
}

.contact_para {
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
}

.contact_item_list {
  margin: 1em auto;
  font-weight: 700;
  font-size: 18px;
}

.contact_item {
  margin-bottom: 0.2em;
}

.hidden {
  display: none;
}
